@charset "UTF-8";

@media screen {
    body {
        background: #F5F5F5 scroll no-repeat left top;
        
        color: black;
        font-size: 20px;
    }
}

@media print {
    body {
        background-color: white;
        background-image: none;
        color:black;
    }
    header {
        display: none;
    }
}

footer {
    background-color: black;
    bottom: 0;
    color: white; 
    font-size: 10px;
    height: 25px;
    line-height: 25px;
    position: fixed;
    text-align: right;
    vertical-align: middle;
    width: 100%;
}

footer p {
    margin: 0 10px 0 0;
}

nav{
  height:100px;
  background-color:#DCDCDC
}

.left{
   
  float: left;
  margin-left:100px;
  mix-blend-mode: multiply;

}

.right{
  margin-right:100px;
  float: right;
  margin-top:15px;
}

.right ul
{
   list-style-type: none;
  overflow-x:hidden;
}  

a{
  margin-left:10px;
  color:black;
  text-decoration: none;
}
  
h1{
  text-align:center;
  margin-top:280px;
  top: 60%;
            left: 56%;
}

.btn1{
  width:100px;
            position: fixed;
            background-color: #0C8FB2; 
            top: 60%;
            left: 56%;
            margin-top: -100px;
            margin-left: -100px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight:bold;
}

.btn2{
  width:100px;
          
            position: fixed;
           background-color: #0C8FB2; 
            top: 60%;
            left: 47%;
            margin-top: -100px;
            margin-left: -100px;
   border: none;
  color: white;
  padding: 15px 32px;
   text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight:bold;
}

